/* css styles */
body {
    background-image: url(images/background.jpg); /* Arka plan resmini belirtin */
    background-size: cover; /* Resmin body'ye sığdırılmasını sağlayın */
    background-repeat: no-repeat; /* Resmin tekrar etmemesini sağlayın */
    color:white;
}

navbar {
    background-color: black; 
    color: white;
}

sidebar {
    background-color: black; 
    color: white;
}

