/* css styles */
body {
    background-color: lightgrey; /* Arka plan rengini pembe olarak ayarla */
    color: black;
}

navbar {
    background-color: lightgrey; 
    color: black;
}

sidebar {
    background-color: lightgrey; 
    color: black;
}
